$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
@import 'variables';

body {
  background-color: $background-color;
}

.home {
  width: auto;
  justify-content: space-between;
  padding: 3%;
  text-align: center;
  border: 8px solid $dark-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
}

.title {
  font-family: $fonts;
}

.input {
  margin: 1%;
  max-width: 80%;
  font-size: 1.5rem;
}

.switch {
  font-size: 10rem;
  font-family: $fonts;
  color: $primary-color;
  margin: 1%;
}

.el-switch__label {
  @include when(active) {
    color: $primary-color;
    font-weight: bold;
  }
  color: $dark-color;
  & span {
    font-size: 1.5rem;
  }
}

.button {
  margin: 1%;
  font-size: 1.5rem;
  color: $light-color;
  background-color: $primary-color;
  font-weight: bold;
  border-radius: 15px;
}

.el-button {
  &:hover,
  &:focus {
    color: $light-color;
    background-color: $primary-color;
    border-color: $dark-color;
  }
}

.el-form {
  width: 50%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1%;
}

.el-form-item {
  width: 100%;
  text-align: center;
}

.el-form-item__error {
  font-size: 1rem;
  font-family: $fonts;
  right: 0;
  top: 100%;
}

.el-message__content {
  font-size: 1rem;
  font-family: $fonts;
}